/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
========================================
Body
========================================
*/

body {
	font-size: 16px;
	color: #fff;
}



/*
========================================
Header
========================================
*/

header {
	width: 100vw;
	background-color: #1F1F29;
	text-align: center;
}

header > ul  {
	float: left;
	width: 50%;
	margin: 20px 0	;
}

header > ul + ul {
	float: left;
	width: 50%;
}

header  ul li {
	display: inline-block;
	margin: 0 3px;
}

header > section::before, header section::after {
	content: "";
	display: table;
}

header section::after {
	clear: both;
}

header section{
	clear: both;
	background: #15151D;
	padding: 3%;
	width: 100vw;
	height: 3vh;
	border-bottom: #da273b 3px solid;
}

header section h1{
	float: left;
	width: 30.333%;
	font-size: 3rem;
	font-weight: bold;
}

header section form{
	float: left;
	width: 38.333%;
}

header section ul{
	float: left;
	width: 15.333%;
}

select , input, button {
	width: 5vw;
	height: 5vh;

}
select{
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

input {
	width: 500px;
	border: none;
}

button {
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	background-color: #da273b;
	color: #fff;
	font-weight: bold;
	font-size: 1rem;
}

header nav {
	background: #fff;
	color: #15151D;
	padding: 15px 0 ;
	height: 30px;
	border-bottom: #15151D solid 2px;
}

nav ul li a {
	text-decoration: none;
}

nav ul li a:hover {
	text-decoration: none;
	background: #da273b;
	color: #fff;
}